.bar { fill: cornflowerblue }
.bar:hover {opacity: 0.6; transition: 0.3s ease-in-out}
.d3-tip {
    line-height: 1;
    padding: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
}
.d3-tip2 {
    line-height: 1;
    padding: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
}
body {
    background-color: lightgray;
}
svg {
    background-color: white;
    height: 530px;
}

#button {
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
	background: cornflowerblue;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	font-family: STFangsong;
	font-weight: bold;
}

#button:hover {
	background: #434343;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	font-weight: bold;
}

.select {
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
	background: #8da0cb;
	padding: 4px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	font-family: STFangsong;
	font-weight: bold;
	transition: all 0.4s ease 0s;
}

.select:hover {
	background: #434343;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	font-weight: bold;
}

#explain{
	font-family: STFangsong;
	font-size: 20px;
}